<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 

<body>
   
    <%- include('./partials/header.ejs') %> 

    <div class="dosCajitas">
    <div class="caja-producto1">
        <button class="cruz-carrito">X</button>
        <div class="img-producto1">
            <img src="/img/ProductoDeCarrito 1.png" alt="imagen producto 1">
        </div>
        
        <div class="nombre-producto1">
            <p>Stella Artoise 250ml</p>
        </div><br><br><br>
        <div class="info-producto1">
            <label for="cantidad">cantidad:</label> <input type="number" name="cantidad"><br><br><br><br>
            <p> subtotal: $250</p>
        </div>
        
        
    </div>
<br><br><br>
    <div class="caja-producto1">
        <button class="cruz-carrito">X</button>
        <div class="img-producto1">
            <img src="/img/ProductoDeCarrito 2.png" alt="imagen producto 1">
        </div>

        <div class="nombre-producto1">
            <p>Stella Artoise 250ml</p>
        </div><br><br><br>
        <div class="info-producto1">
            <label for="cantidad">cantidad:</label> <input type="number" name="cantidad"><br><br><br><br>
            <p> subtotal: $250</p>
        </div>
    
        
    </div>
</div>
   
    <%- include('./partials/footer.ejs') %> 

    <%- include('./partials/scripts.ejs') %> 
    
</body>

</html>